{{! USER CONFIGURATION REQUIRED }}
{{! ADD STATIC PAGE LINKS HERE }}
{{! REMOVE THE THREE DEFAULT LINKS BELOW IF NOT USED }}
{{! REPEAT BY ADDING LINKS TO THE FOOTER BELOW AS COMMENTED}}
<li><a href="/about/">About</a></li>
<li><a href="/contact/">Contact</a></li>