<p class="copyright"> <span id="footer-text">&copy; 2015 {{@blog.title}} - Proudly published with <a href="http://ghost.org">Ghost</a></span></p>

<div class="socials">
	<!-- Add Social Icons -->
	<a class="social twitter" href="https://twitter.com/robertbenj" target=“_blank">Twitter</a>
	<a class="social soundcloud" href="https://soundcloud.com/robert-benjamin" target=“_blank">Soundcloud</a>
	<a class="social github" href="https://github.com/robertbenjamin" target=“_blank">Github</a>
	<a class="social instagram" href="https://instagram.com/robertbenjamin" target=“_blank">Instagram</a>

</div>