<!-- Slabtext goes here -->
<div class="slab animated fadeIn">
	<div class="wrapper">
		<h1><span class="slabtext">Welcome to My Blog!</span> <span class="slabtext">Continue for Writing, Music <span class="amp">&</span> Pictures</span></h1>
	</div>
</div>